body {
  margin: 2px;
  display: flex;
  
}
.mainbar {
  flex:3;
}
.sect {
  margin: 02px;
  
  
  /*background-color: blue;*/
}
.navbar{
  width: 100%;
  height: 20vh;
  background-color: #52DE44;
}
.mainsection{
  width: 100%;
  height: 80vh;
}
.videoFrame{
  width: 100%;
  height: 100%;
}
div {
  border: 2px solid green;
  flex: 1;
}

h1, h2 {
  text-align: center;
  color: red;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar  div{
  border: 2px solid green;
  /*width: 100%;
  height: 5%;*/
  
}